<div class="container">
	<h1> This is your playground </h1>
	<%= current_user.name %>
	<div id="win"> </div>
	<%= link_to "Play", play_url,  remote: true , :class => "play btn btn-warning" %>
	<%= link_to "View Score",  round_score_url , :class => "play btn btn-warning" %>
		<div id="play"></div>
</div>