<div class="container">
  <h2>Welcome <%= current_user.name %></h2>
</div>

<h1>Your Score by Rounds</h1>


<% if current_user.scores[0]== nil%>
  <p>No rounds for this User</p>
<% end %>


<table class="table table-hover">
        <thead>  
          <tr> 
          <th>Name</th>
          <th>Round</th>
          <th>Result</th>
          </tr>
        </thead>
  <% @current_user.scores.each do |user_score| %> 
      <tr> 
          <td><%= @current_user.name %></td>
          <td><%= user_score.result %></td>
    	    <td><%= user_score.id %></td>   	
          
        </tr>
   <% end %>
</table>
</div>




