/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px !important;
  background-color: #d2eeff;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
  margin-top: -30px;

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.jumbotron {
  
  border-radius : 50px !important;
  background-color : #d2eeff !important;
  height: 550px !important;

}

.footer {
  
      margin-top: 30px !important;
}

.sign-up {
  
      margin: 11px auto;
      display: block;
      text-align: center;
      width: 119px;

}


.log in {
  
    margin: 11px auto;
    display: block;
    text-align: center;
    width: 119px;
}



.main_img {
  
      
    display: block;
    margin: 0 auto;
    height: 375px;
    width: 21pc;

}


/* STARTS HERE */


#play {
  
  margin: 20px auto;
  border: 1px solid #663300;
  width: 605px;
  height: 602px;
  background: #d2eeff;
  border-radius: 25px;

}



.cell {
  border-radius: 150px;
  width: 190px;
  height: 190px;
  float: left;
  background: #FE7E25;
  margin: 5px;
  text-align: center;
  font-size: 150px;
  color: #097054;
}

.cell:hover {
  border: 2px solid #991000;
  cursor: pointer;
}

/* ASIDE */



aside {
  position: absolute;
  width: 120px;
  top: 100px;
  right: 15%;
  text-align: left;
}

aside a {
  padding-left: 21px;
}


.global-link {
    
    margin: 30px auto;
    display: block;

}

#play2 {
    
    font-size: 2em;
    border: 1px solid #AAA;
    width: 120px;
    height: 60px;
    color: blue;
    background: yellow;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    float: right;
    margin-right: 15%;
}

#play2:hover {
  color: yellow;
  background: blue;
}

#play3 {
  font-size: 23px;
  border: 1px solid #AAA;
  width: 120px;
  height: 60px;
  color: blue;
  background: yellow;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

#play3:hover {
  color: yellow;
  background: blue;
}


#win {
  padding-top: 20px;
  color: green;
  font-size: 50px;
}

.content {
    width:600px;
    height:400px;
    line-height:400px;
    margin:0px auto;
    text-align:center;
   
}

img {
    vertical-align:middle;
    width: 600px;
    height: 400px;
}

a.myButton {
  background-color: #4CAF50;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  width: 168px;
}
a.myButton:hover {
  background-color: #45a049;
}
a.myButton:active {
  position:relative;
  top:1px;
}

a.myButton {
 text-align: center;
 display: block;
 position: relative;
 left: 45%;
 padding-top:10px; 
 margin-top: 10px;
}