<div class="container h-100 d-flex justify-content-center">
    <div class="center jumbotron my-auto">
 		  <h1>Welcome to Submarine</h1>
      <%= image_tag "sub" , class: "main_img" %>
		  <%= link_to "Sign up", new_user_url , class: "sign-up btn btn-lg btn-primary" %>
  	  <%= link_to "Log in", login_path , class: "login btn-lg btn-primary" %>
      <%= link_to "Global Score", global_record_path , class: "global-link" %>
		</div>
</div>

  


