
<div class="container"> 
 <div class="footer">
 	<div class="navbar navbar-inner navbar-bottom">
    	<p class="muted credit">
	   	 <center>
			<small>
     		<a href="http://www.railstutorial.org/">Submarine</a>
    	  by <a href="http://www.juliovasquezdev.com">Julio Vasquez </a>
    	   <br><%= link_to "About",   '#' %></li>
  		</small>
		</center>
</div>	
	</p>
 
</div>
