 <div class="container"> 
 <div class="footer">
 	<div class="navbar navbar-inner navbar-bottom">
    	<p class="muted credit">
	   	 <center>
			<small>
			<a href="http://www.juliovasquezdev.com">Julio Vasquez </a>
  		</small>
		</center>
</div>	
</div>
